<header>
    <h2 [ngClass]="{
      'valid': isValid,
      'invalid': !isValid
    }">BlockChain </h2>
    <button tooltip="Minerar novo Bloco" (click)="onMine()">Mine</button>
  <div>
    {{blockchain.pendingTransactions.length}} Pending Transactions
  </div>
  <nav class="navbar navbar-default">
    <button [routerLink]="['send-transaction']">Send Transaction</button>
    <button [routerLink]="['dashboard']">Dashboard</button>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<pre>
  {{blockchain | json}}
</pre>
